<style type="text/css">
  .odd{
    background-color: #B0BED9;
  }
  .even{

  }
</style>

<div style="height: 8vh;border: 1px inset black; border-width: 0px 0px 3px 0px;">
  <h3 style="margin-left: 2vw;"><%= @report_type%></h3>
</div>

<div style="height: 75vh; overflow: auto;">

</div>

<div class="footer" >
  <button onmousedown="window.location = '/'" class="nav-bttn green" style="margin-right: 1vw;float: right;">
    <%= t('forms.buttons.finish') %>
  </button>
</div>
